{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}


    <div class="hero-section">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Educación en Línea, la Mejor Opción</h1>
            <p>Clases en línea de alta calidad en un entorno flexible y accesible. Aprende desde donde estés y alcanza tus metas.</p>
            <a href="#about-us" class="btn-primary">Conoce Más</a>
        </div>
    </div>

    <section id="about-us" class="about-section">
        <h2>Misión</h2>
        <p>Nuestra misión es brindar educación en línea de excelencia, promoviendo el desarrollo personal y profesional a través de métodos innovadores y recursos accesibles.</p>
    </section>


{% endblock %}